@{
    ViewBag.Title = "CVGS";
}

<div class="row">
    <div class="col-md-6">
        <h2>Game List</h2>
        <p></p>
        @Html.ActionLink("More Games","Index", "Game")
    </div>
    <div class="col-md-6">
        <h2>Event List</h2>
        <p></p>
        @Html.ActionLink("More Events", "Index", "Event")
    </div>
</div>