@{
    ViewBag.Title = "CVGS";
}

<div class="row">
    <div class="col-md-6">
        <h2>Game List</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">View All &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Event List</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">View All &raquo;</a></p>
    </div>
</div>